td input{width:100%}
#Mode{
    background-color:  #85d7f0;
}
#result{
    background-color:rgb(174, 248, 223);
}
#btn{
    background-color: orange;
}
#s{
    background-color: black;
    color:aliceblue;
}
#del{
    background-color: orange;
}
#g{
    background-color: white;
}